@page "{id}"
@model LegalSecure.Pages.Clients.ClientModel
@{
    ViewData["Title"] = "Client" + @Html.DisplayFor(model => model.Client.FirstName);
}

<div class="col-md-8">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Frist Name:</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(m => Model.Client.FirstName)
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Last Name:</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(m => Model.Client.LastName)
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Birth Date:</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(m => Model.Client.BirthDate)
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Contact Phone:</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(m => Model.Client.ContactPhone)
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email Address:</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    @Html.DisplayFor(m => Model.Client.EmailAddress)
                </div>
            </div>
        </div>
    </div>
</div>