@page "{searchString?}"
@model LegalSecure.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Clients";
}

<form class="form-inline md-form mr-auto mb-4 justify-content-center">
    <input class="form-control mr-sm-2" type="text" asp-for="SearchString" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

<div class="container row p-0 m-0">
    <div class="col-10">
        <h2 class="text-dark">Clients</h2>
    </div>
    <div class="col-2">
        <a class="btn btn-sm btn-success text-white" asp-page="/Clients/ClientCreate" title="Add New Client">✒ Add new Client</a>
    </div>

    <div class="col-12">
        <form method="post">
            @if (Model.Client.Count() > 0)
            {
                <table class="table table-bordered table-hover">
                    <tr class="table-secondary text-center">
                        <th>
                            <label asp-for="Client.FirstOrDefault().FirstName"></label>
                        </th>
                        <th>
                            <label asp-for="Client.FirstOrDefault().LastName"></label>
                        </th>
                        <th>
                            <label asp-for="Client.FirstOrDefault().BirthDate"></label>
                        </th>
                        <th>
                            <label asp-for="Client.FirstOrDefault().ContactPhone"></label>
                        </th>
                        <th>
                            <label asp-for="Client.FirstOrDefault().EmailAddress"></label>
                        </th>
                        <th>
                            <label asp-for="Client.FirstOrDefault().StreetAddress"></label>
                        </th>
                        <th>
                            <label asp-for="Client.FirstOrDefault().PostCode"></label>
                        </th>
                        <th>
                            <label>Action</label>
                        </th>
                    </tr>
                    @foreach (var client in Model.Client)
                    {
                        <tr class="text-center">
                            <td>
                                @Html.DisplayFor(m => client.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.BirthDate)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.ContactPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.StreetAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(m => client.PostCode)
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-outline-primary" title="View Client" asp-page="/Clients/Client" asp-route-id="@client.ID">🔍</a>
                                    <a class="btn btn-outline-success" title="Edit Client" asp-page="/Clients/ClientEdit" asp-route-id="@client.ID">✐</a>
                                    <button class="btn btn-outline-danger btn-sm" asp-page-handler="Delete" asp-route-id="@client.ID" onclick="return confirm('Are you sure you want to delete?')">🗑️</button>
                                </div>
                            </td>
                        </tr>

                    }
                </table>
            }
            else
            {
                <p>No Clients currently exist</p>
            }
        </form>
    </div>
</div>  
